body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CBD18F;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.search_header {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  font-weight: lighter;
  color: #3A6B35;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  /* Styles for smaller screens */
  h1 {
    font-size: 45px;
  }
}

h2{
  padding-top:1em;
}

.weather_card {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.weather_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

}

.container {
  padding: 2px 16px;
}

p {
  font-size: medium;
}

.input_button {
  justify-content: center;
  margin-top: .5em;
  display: flex;
  position: relative;
}



.list {
  position: absolute;
  margin-top: 20px;
  background-color: white;
  color: black;
  text-align: left;
  list-style-type: none;
  padding-left: 0;
}
input[type=text] {
  padding: 10px;
  border: 0;
  border-radius: 1em;
}

input:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.searchButton{
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  font-size: 15px;
  padding: .5em;
  cursor: pointer;
}

.searchButton:hover{
  transform: scale(1.05);
}

.searchButton:active {
            transform: scale(0.98);
        }

.card_button {
  background-color: none;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: #3A6B35;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.card_button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.card_button:active {
            transform: scale(0.98);
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        }

.weather_display {
  display: flex;
  overflow-x: scroll;
  margin-top: 4px 0px 5px;
  padding-bottom: 2px;
  width: 300px;
}

.weather_display_icon {
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
}

.weather_display_temp,
.weather_display_text {
  margin: 0px;
  color: black;
}

.weather_display_temp {
  font-weight: bold;
  margin-bottom: 5px;
}

.forecasts_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.optionButton {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: small;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}



